<div class="container-fluid bg-main-color">
  <div class="container">
<div class="row py-4">
    <div class="col text-theme2 bg-danger py-5">
      <h6 class="fw-light">
     <span class="text-decoration-underline">$20 discount</span>  for your first order
    </h6>
     <h3 class="fw-semibold">
      Join our newsletter and get...
    </h3>
    <p >
      Join our email subscription now to get updates <br />
on promotions and coupons.
    </p>
    <div class="pt-4 bg-warning position-relative">
      <img src="icons/footer-icon1.png" alt="">
      <button class="btn position-absolute bg-main-color fw-medium text-theme2">Subscribe</button>
      <input type="text" class="form-control form-control-lg bg-theme2 ps-5" placeholder="Your email address">
    </div>
  </div>

    <div class="col"></div>
  </div>
  </div>



</div>
