h1 {
  font-size: 60px;
}

.card-text {
  font-size: 12px;
  letter-spacing: 4px;
}
p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.about-people {
  padding: 120px 15px 216.56px 15px;
}
.about-people:first-child {
  font-size: 16px;
  letter-spacing: -0.1px;
}
.about-people > p {
  padding-left: 30px;
}
.about-box {
  position: absolute;
  bottom: 0;
  left: 115px;
  max-width: 1010px;
  height: 232px;
  border-radius: 7px;
  padding: 60px 0px 79px 100px;
}
@media (max-width: 575px) {
}
@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  .about-people {
    padding-top: 20px;
  }
  .about-box {
    padding: 10px 0px 10px 5px;

    left: 0;
  }
}
