<div class="container-fluid text-theme1">
  <div class="row">
    <div class="card col fw-semibold text-theme2 overflow-hidden">
      <img src="images/about-header.jpg" class="card-img" alt="about-header" />
      <div
        class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="mb-0">About for Bacola</h1>
        <p class="card-text text-uppercase">We can do more for you</p>
      </div>
    </div>
  </div>

  <section class="container mt-5">
    <div class="row">
      <div class="col-12">
        <p class="inter-font">
          In nec purus eget neque accumsan finibus. Duis condimentum elit ut
          libero commodo iaculis. Donec augue diam, tristique et ultricies nec,
          consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
          rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
          dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
          Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque
          efficitur elit ante, vel vulputate tortor blandit nec.
        </p>
      </div>
      <div class="col-11 fw-semibold mx-auto mt-4">
        <h2>
          Quisque erat urna, congue et libero in <br />
          eleifend euismod velit.
        </h2>
      </div>
      <div class="col-11 mx-auto mt-4">
        <p>
          In nec purus eget neque accumsan finibus. Duis condimentum elit ut
          libero commodo iaculis. Donec augue diam, tristique et ultricies nec,
          consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
          rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
          dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
          Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque
          efficitur elit ante, vel vulputate tortor blandit nec.
        </p>
      </div>
    </div>
  </section>
  <section class="container position-relative">
    <div class="row">
      <div class="col-sm-12 col-md-5 pt-4">
        <img
          src="images/about-people.png"
          class="img-fluid px-3"
          alt="about-people"
        />
      </div>
      <div class="col-sm-12 col-md-7 about-people text-start">
        <p class="align-self-center">Rachel Leonard - Bacola CEO</p>
        <h3 class="fw-semibold mt-3">
          Duis convallis luctus pretium.<br />
          Pellentesque habitant morbi
        </h3>
        <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
          lacus vel facilisis.
        </p>
        <p class="align-self-center">
          In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer
          gravida, dui eget aliquet tempus, turpis orci vehicula ipsum, eget
          porttitor sapien tortor at neque. Cras id pulvinar lacus, ac volutpat
          neque. Ut at magna id justo bibendum lobortis. Integer tortor nulla,
          ultricies et nisi sit amet, interdum dictum felis. In semper laoreet
          dui vitae pharetra. Etiam sit amet molestie nulla, eu efficitur orci.
          Praesent rutrum ante justo, eget malesuada ante ornare ac. Ut
          dignissim blandit urna, eget euismod leo rhoncus nec. Vestibulum ante
          ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          curae; Quisque lobortis libero ante. Nullam in feugiat erat. Aenean
          sed justo dapibus, sodales nisi ut, fringilla lorem. Vestibulum in
          orci ac nisl condimentum fermentum at et sem. Curabitur fermentum
          dolor eu lacus consectetur varius.
        </p>
      </div>
    </div>

    <div class="about-box bg-theme2">
      <p class="fw-semibold">
        In nec purus eget neque accumsan finibus. Duis condimentum elit ut
        libero commodo iaculis. Donec augue diam, tristique et ultricies nec,
        consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
        rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
        dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
        Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque
        efficitur elit ante, vel vulputate tortor blandit nec.
      </p>
    </div>
  </section>
  <section class="container mt-4">
    <div class="row">
      <div class="col-12 ps-4">
        <p>
          In nec purus eget neque accumsan finibus. Duis condimentum elit ut
          libero commodo iaculis. Donec augue diam, tristique et ultricies nec,
          consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
          rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
          dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis.
          Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque
          efficitur elit ante, vel vulputate tortor blandit nec.
        </p>
      </div>
    </div>
  </section>
</div>
