<div class="container">
  <div class="row">
    <!-- left side -->
    <section class="col-sm-6 col-lg-8">
      <!-- top Article -->
      <article>
        <img src="images/blog-3-img.png" class="img-fluid" alt="" />
        <div class="text-theme5 Dosis-font fw-semibold text-uppercase mt-4">
          Grocery
        </div>

        <h2 class="fw-semibold text-theme1">
          But I must explain to you how all this mistaken idea
        </h2>
        <div class="mb-2">
          <span class="fw-medium text-theme8 pe-2">Jan 13 2025</span>
          <span class="fw-medium text-theme1">Sinan ISIK</span>
        </div>
        <p class="text-theme1 pt-4" style="margin-bottom: 56px">
          Donec rhoncus quis diam sit amet faucibus. Vivamus pellentesque, sem
          sed convallis ultricies, ante eros laoreet libero, vitae suscipit
          lorem turpis sit amet lectus. Quisque egestas lorem ut mauris
          ultrices,...
        </p>
      </article>

      <!-- bottom Article -->

      <article>
        <img src="images/blog-5-img.png" class="img-fluid" alt="" />
        <div class="text-theme5 Dosis-font fw-semibold text-uppercase mt-4">
          Grocery
        </div>

        <h2 class="fw-semibold text-theme1">
          The Problem With Typefaces on the Web
        </h2>
        <div class="mb-2">
          <span class="fw-medium text-theme8 pe-2">Jan 13 2025</span>
          <span class="fw-medium text-theme1">Sinan ISIK</span>
        </div>
        <p class="text-theme1 pt-4" style="margin-bottom: 56px">
          Donec rhoncus quis diam sit amet faucibus. Vivamus pellentesque, sem
          sed convallis ultricies, ante eros laoreet libero, vitae suscipit
          lorem turpis sit amet lectus. Quisque egestas lorem ut mauris
          ultrices,...
        </p>
      </article>

      <!-- paginatin -->
      <div class="text-center">
        <span class="bg-main-color text-theme2 py-2 px-3 rounded-pill">1</span>
        <span class="py-2 px-3">2</span>
        <span class="py-2 px-3"><img src="icons/blog-icon.png" alt="" /></span>
      </div>
    </section>
    <!-- right side -->
    <section class="col-sm-6 col-lg-3 ps-3">
      <h5 class="Dosis-font fw-semibold text-theme1 mb-4">Recent Posts</h5>
      <div style="border: 1px solid #edeef5; padding: 21px">
        <article class="d-flex justify-content-center align-items-center">
          <img src="images/blog-img1.png" alt="" class="rounded-pill me-3" />

          <h6 class="fw-medium text-theme1">
            But I must explain to you how all this mistaken idea
          </h6>
        </article>
        <article class="d-flex justify-content-center align-items-center">
          <img
            src="images/blog-img2.png"
            alt=""
            class="rounded-pill position-relative me-3"
          />

          <h6 class="fw-medium text-theme1">
            The Problem With Typefaces on the Web
          </h6>
        </article>
        <article class="d-flex justify-content-center align-items-center">
          <img
            src="images/blog-img3.png"
            alt=""
            class="rounded-pill position-relative me-3"
          />

          <h6 class="fw-medium text-theme1">
            English Breakfast Tea With Tasty Donut Desserts
          </h6>
        </article>
      </div>

      <h5 class="Dosis-font fw-semibold text-theme1 text-uppercase mb-4">
        Social Media
      </h5>
      <ul
        class="list-unstyled Dosis-font fw-semibold text-uppercase text-theme2 mb-5"
      >
        <li style="background-color: #3b5998">
          <img
            src="icons/vector-facebook.png"
            alt="facebook"
            class="text-theme2 py-1"
          />
          <span class="ps-2"> Facebook</span>
        </li>
        <li style="background-color: #cc2366">
          <img
            src="icons/vector-instagram.png"
            alt="instagram"
            class="text-theme2 py-1"
          />
          <span class="ps-2">Instagram</span>
        </li>
        <li style="background-color: #1da1f2">
          <img
            src="icons/vector-twitter.png"
            alt="twitter"
            class="text-theme2 py-1"
          />
          <span class="ps-2">Twitter</span>
        </li>
      </ul>
      <h5 class="Dosis-font fw-semibold text-theme1 text-uppercase mb-4">
        Widget Banner
      </h5>
      <img
        src="images/blog-sidebar-banner.png"
        alt="sidebar-banner"
        class="img-fluid mb-5"
      />
      <h5 class="Dosis-font fw-semibold text-theme1 text-uppercase mb-4">
        Tags
      </h5>
      <ul class="list-unstyled list">
        <li>ecommerce</li>
        <li>food</li>
        <li>grocery</li>
        <li>klbtheme</li>
        <li>organic</li>
        <li>shop</li>
        <li>shopify</li>
        <li>store</li>
      </ul>
    </section>
  </div>
</div>
