.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

.product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  max-width: 900px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1060;
  padding: 2rem;
  border-radius: 12px;
}

.img-thumbnail {
  border-radius: 8px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.basket{
  background-color: var(--main-color);
}